@import url('https://fonts.googleapis.com/css2?family=Acme&family=Comfortaa:wght@400;500;600;700&display=swap');


body{
	margin:  0;
	font-size: 16px;
	background-color: #282828;
	font-family: Acme;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}



.custom-box{
	max-width: 700px;
	background-color: #282828;
	margin: 40px auto;
	padding: 30px;
	border-radius: 10px;
	color: #b3b3b3;
}

.custom-box::before,
.custom-box::after{
	content: '';
	clear: both;
	display: table;
}

.custom-box.hide{
	display: none;

}

.first-box h3{
	font-size: 20pt;
	color: #b3b3b3;
	font-weight: 700;
	margin-bottom: 15px;
}

.first-box.hide{
	display: none;

}

.home-box.hide{
	display: none;
}

.home-box.show{
	display: inline;
}

.home-box h3{
	font-size: 20pt;
	color: #b3b3b3;
	font-weight: 700;
	margin-bottom: 15px;
}

.home-box p{
	font-size: 16px;
	color: #b3b3b3;
	font-weight: 400;
	margin-bottom: 10px;
	line-height: 22px;
}

.home-box btn{
	margin-top: 20px;
}
.home-box span{
	font-weight: 400;
}

.btn{
	padding: 15px;
	background-color: #009688;
	color: #ffffff;
	border: none;
	border-radius: 20px;
	font-family: acme;
	font-size: 16px;
	font-weight: 200;
	cursor: pointer;
	display: inline-block;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
	width: 100%;
	float: right;
}

.question-number{
	margin-bottom: 5px;
}

.quiz-box .question-number{
	font-size: 18px;
	color: #449696;
	font-weight: 600;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	line-height: 25px;
}
.quiz-box .question-text{
	font-size: 22px;
	color: #b3b3b3;
	line-height: 28px;
	font-weight: 400;
	padding: 20px 0;
	margin: 0;
}
.quiz-box .option-container{}
.quiz-box .option-container .option{
	background-color: #393939;
	padding: 13px 15px;
	font-size: 16px;
	color: #b3b3b3;
	line-height: 22px;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: capitalize;
	opacity: 0;
	animation: fadeIn 5s ease forwards;
	position:  relative;
	overflow: hidden;

}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.quiz-box .option-container .option.correct::before{
	content: '';
	position: absolute;	
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #009688;
	z-index: -1;
	animation: slideInLeft 1s ease forwards;

}

.quiz-box .option-container .option.wrong::before{
	content: '';
	position: absolute;	
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #009688;
	z-index: -1;
	animation: slideInLeft 1s ease forwards;

}
.quiz-box .option-container .option.already-answered{
	pointer-events: none;
}

@keyframes slideInLeft{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}



.quiz-box .option-container .option.wrong{
	color: #b3b3b3;
}



.quiz-box .option-container .option.correct{
	color: #b3b3b3;
}
.quiz-box .btn{
	margin:15px 0 ;
}

.quiz-box .answers-indicator{
	border-top: 1px solid #4a4a4a;
}

.quiz-box .answers-indicator div{
	height: 40px;
	width: 40px;
	display: inline-block;
	background-color: #4a4a4a;
	border-radius: 50%;
	margin-right: 3px;
	margin-top: 15px;
}

.result-box{
	text-align: center;
}

.result-box.hide{
	display: none;
}

.result-box h1{
	font-size: 36px;
	line-height: 42px;
	color: #009688;
}
.result-box table{
	width: 100%;
	border-collapse: collapse;
	margin:  30px 0;

}
.result-box table td{
	border: 1px solid #ffffff;
	padding: 8px 15px;
	font-weight: 500;
	width: 50%;
	text-align: left;
	font-size: 18px;
}
.result-box .btn{
	margin-right: 20px;
}